---
page: about
layout: single-page
title: What is NolanHue?
first_about_image: assets/uploads/ne.jpg
second_about_image: assets/images/alumni/1.jpg
banner_image: assets/uploads/nh-branding.jpg
slug: about
paragraph: >-
  Nolan Hue is a social enterprise that cultivates professional development in
  youth through its initiatives such as the Youth Empowerment Retreat and
  Networking Event - both of which has been taking place annually for over 5
  years.
team:
  - name: Alisha Francis
    position: CEO
    bio: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas
      velit nibh, sed vulputate magna blandit sit amet. In quis euismod ipsum,
      vitae finibus quam. Cras placerat eu enim et eleifend. Phasellus volutpat
      pulvinar odio non tempus. Pellentesque eget pharetra purus, vel feugiat
      tortor.
    image: /assets/uploads/119468675-1537176386467016-4673049507315639379-n-2.jpg
  - name: Nolan Hue
    position: Position
    bio: >-
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas
      velit nibh, sed vulputate magna blandit sit amet. In quis euismod ipsum,
      vitae finibus quam. Cras placerat eu enim et eleifend. Phasellus volutpat
      pulvinar odio non tempus. Pellentesque eget pharetra purus, vel feugiat
      tortor.
    image: assets/uploads/ne.jpg
---

{% assign page = site.pages | where: "page", "about" | first %}


<div class="section section-about m-0 background-grey text-light ">

  {% assign aboutSection = site.sections | where: "title", "About" | first %}

  <div class="section section-about m-0 background-grey text-light"
    style="padding: 120px 0;">
    <div class="container">

      <h3 class="bottommargin text-light text-center wow  animated  fadeIn delay-1s"> Fostering Professional Development</h2>

      <div class="row">

        <div class="col-md-5 wow animated fadeInLeft delay-1s">

          <br>
          <!-- <h4 class="mb-0"><span class="badge badge-secondary font-body">About Us</span></h4> -->
          <div class="">

            <div class="about-img position-relative d-none d-md-block" style="min-height: 295px;">
              <div class="my-3 my-lg-0"><div class="gradient-bg wow animated fadeInUp delay-1-7s"><img src="{{ page.first_about_image | relative_url }}" alt="About Image"></div></div>
              <div data-0="top: 120px" data-end="top: 80px"><div class="gradient-bg wow animated fadeInUp delay-2s"><img style="height: 33vh;" src="{{page.second_about_image | relative_url}}" alt="About Image" style="object-fit: cover;"></div></div>
            </div>
            <img class="d-none d-sm-block d-md-none animated fadeInUp delay-1s" src="{{ page.first_about_image | relative_url }}" alt="About Image">

          </div>
        </div>

        <div class="col-md-6 wow animated fadeInRight delay-1s offset-0 offset-md-1 mt-5 mt-md-0">
          <h3 class="t400 ls0 nott mb-3 font-primary text-light wow animated fadeInUp mt-5 "> {{page.paragraph}} </h3>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container mt-5">
    <h4 class="t400 ls0 nott mb-3 font-primary text-light wow animated fadeInUp "> {{page.paragraph}}</h4>
  </div> -->

  <div class="container mt-5">
    {% include team.html %}
  </div>

</div>

{% include CTAbanner.html %}