---
page: about
layout: single-page
title: What is Nolan Hue?
first_about_image: /assets/uploads/yer-2019---day-2---16.jpg
second_about_image: /assets/uploads/whatsapp-image-2020-10-31-at-08-55-42.jpeg
banner_image: assets/uploads/nh-branding.jpg
slug: about
paragraph: >-
  Nolan Hue is a social enterprise that creates and facilitates professional
  development opportunities for young people in Antigua and Barbuda and the
  wider Caribbean.

paragraph2: >-
  Nolan Hue is a social enterprise that creates and facilitates professional
  development opportunities for young people in Antigua and Barbuda and the
  wider Caribbean. Nolan Hue is a social enterprise that creates and facilitates professional
  development opportunities for young people in Antigua and Barbuda and the
  wider Caribbean. Nolan Hue is a social enterprise that creates and facilitates professional
  development opportunities for young people in Antigua and Barbuda and the
  wider Caribbean.
directors:
  - name: Regis Burton
    position: Director
    bio: >-
      Regis Burton, the visionary behind Nolan Hue has been fortunate to
      experience many outstanding opportunities and it has been his vision to
      create similar opportunities for young people worldwide. With a BSc in
      Management Information Systems from the SUNY College at Old Westbury (NY),
      President of the Student Government Association, Alumni of Harvard
      Business School Summer Venture Management Programme and a Queens Young
      Leader Regis Burton is an everyday Human Resources Professional who works
      for the Antigua Public Utilities Authority, and serves on the Board of
      Commissioners for the Royal Police Force of Antigua and Barbuda.
    image: assets/uploads/regis-g--burton-profile-photo-1.jpg
    linkedIn: 'http://www.linkedin.com/in/regisburton'
  - name: Lyle Jackson
    position: Director
    bio: >-
      Lyle Jackson is an IT professional, and youth advocate who works along
      with nonprofits to transform youths. In his time in youth development,
      Lyle has taken an active role at his place of employment as an organizer
      of APUA’s Summer Internship Program for over four consecutive years to
      help transform the program into an archetype of what corporate internships
      should emphasize. In September of 2016, Lyle joined the National Youth
      Council of Antigua & Barbuda to be able to help more of his peers, and in
      February of 2018 was elected as Vice-President of the council. Lyle has
      subsequently become the CARICOM Youth Ambassador for Antigua & Barbuda and
      has extended his advocacy and representation of his peers regionally and
      internationally.
    image: /assets/uploads/lyle-jackson---caricom-youth-ambassador.jpg
    linkedIn: 'https://www.linkedin.com/in/lyle-jackson-45a77bb8'
  - name: KAREL FORDE-HARRIGAN
    position: Director
    bio: >-
      Karel Forde-Harrigan is a Risk Analyst at the Eastern Caribbean Central
      Bank. She has over ten years’ experience in Sovereign Debt Management,
      having worked as a Debt Analyst at the same institution and serving the
      Government of Antigua and Barbuda in a similar role prior to that. She is
      a married mother of one and is passionate about the financial empowerment
      of individuals in her community, loves teaching, event planning and
      volunteering.
    image: /assets/uploads/image3-1.jpeg
    linkedIn: 'https://www.linkedin.com/in/kmforde-harrigan/'
  - name: Jermaine Rhudd
    position: Director
    bio: "Jermaine Rhudd is 8 years an Attorney-at-Law having spent the earlier parts of his career at the Criminal Bar and thereafter, as a Conveyancing and Corporate Guru with the Law Firm of Rhudd &amp; Associates.\_ Mr. Rhudd was in 2017 appointed by the Governor General and assigned to the Ministry of Legal Affairs where he served as Deputy Registrar of Lands in Antigua &amp; Barbuda. Jermaine is a proud Rotarian of 5 years and leads the legal aspects of management with the Nolan Hue, a professional development Foundation for youth, and continues to give back to his Alma Mata, the St. Joseph’s Academy through service on the Board of Directors"
    image: /assets/uploads/jermaine-portrait-2018.JPG
    linkedIn: >-
      https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHr8ZLW7Em2-wAAAXWBAFD4pvKk3tMrOCcU3OHKg8bCrK2NlEn2qV4pZEoDsuRUbmFqqOuOsV3FNIwm1CLzsKcCVDpgoC8tqPqgrC_U-yjren6fMF09q5M49gI4GGejlY1wxbs=&originalReferer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fag.linkedin.com%2Fin%2Fjermaine-rhudd-ab4409114%3FchallengeId%3DAQGvlXtHvyNa4gAAAXVRu1LzpVd7k-vImOmBalvYLe1JKDA8RYJl3uoYGe3MygG6YoMBlI6ai420uBz_0NMPjljX6egwzeVvig%26amp%3BsubmissionId%3Dc08da988-6066-4016-498f-b39e7c2b1f01
  - name: Jeiel Joseph
    position: Director
    bio: >-
      Jeiel Joseph is a Master of Corporate and Financial Law (merit), who is
      currently embarking upon a PhD in Corporate Integrity considering
      Artificial Intelligence (AI) Policy. His doctoral research investigates
      into using AI systems for the continued mitigation of corporate and
      immigration risks in global Citizenship by Investment programmes. Jeiel is
      passionate about education, personal development and philanthropy, and
      takes the view that it requires patience, dedication, hard work and
      sometimes, mistakes, to reach to the top of ones profession.
    image: /assets/uploads/img-1583.jpeg
    linkedIn: 'https://www.linkedin.com/in/jeiel-d-joseph-b897511a2'
team:
  - name: Sonyque Suriel
    position: Head of Administration
    bio: >-
      Sonyque Suriel is a Freelancer Business Administrative worker. She
      graduated from Monroe College with a Bachelor's Degree in Business
      Management and Accounting. She believes joining Nolan Hue is a great way
      to be more involved in the local community and grow as an individual. She
      hopes to one day bring wholesome entertainment and deepen the sense of
      community to the Island of Antigua.
    image: /assets/uploads/image0.jpeg
    linkedIn: 'https://www.linkedin.com/in/sonyque-suriel-646774156'
  - name: Canice James
    position: Head of Information Systems
    bio: >-
      Passionate about software engineering and digital products; Canice James
      lead teams of developers and designers to design, build and deliver
      impactful applications and solutions that empower and transform businesses
      as well as solve problems in communities. He was selected to represent
      Antigua and Barbuda's industry of software at conferences, innovation labs
      and think tanks for the UN Sustainable Development Goals.
    image: /assets/uploads/img-20191111-220323-sq-1.jpg
    linkedIn: 'https://www.linkedin.com/in/canice-james'
  - name: Dwana Anderson
    position: Head of Public Relations and Marketing
    bio: >-
      Dwana Anderson is a Marketing enthusiast, blogger, and advocate for youth
      development and empowerment. She has a Bachelor’s in Management
      (Marketing) from the University of the West Indies (First Class Honors)
      and is currently the PR & Marketing head for the Nolan Hue Foundation.
    image: /assets/uploads/20200916-191428-0000-2-1.jpg
    linkedIn: 'https://www.linkedin.com/in/dwana-anderson-9b537917b'
  - name: Imani Sinclair
    position: Head of Alumni Association
    bio: >-
      Imani Sinclair is passionate about continuously finding ways of improving
      herself whether it is through seeking opportunities or creating them. With
      Education at the forefront of Imani’s mission, in June 2020, she minted
      her Master of Business Administration after graduating from the University
      of International Business and Economics in Beijing China. Before this, she
      attended the University of Guyana where she completed her Bachelor of
      Science in International Relations.
    image: /assets/uploads/whatsapp-image-2020-10-22-at-5-11-02-am-2.jpg
    linkedIn: 'https://www.linkedin.com/in/imani-sinclair-513706133s'
---

<div class="section section-about m-0 background-grey text-light ">

  <div class="section section-about m-0 background-grey text-light"
    style="padding: 120px 0;">
    <div class="container">

      <h3 class="bottommargin text-light text-center wow  animated  fadeIn delay-1s"> Fostering Professional Development</h2>

      <div class="row">

        <div class="d-flex align-self-center col-md-6 wow animated fadeInRight delay-1s  mt-5 mt-md-0">
          <h3 class="t400 ls0 nott mb-3 font-primary text-light wow animated fadeInUp mt-5 "> {{page.paragraph}} </h3>

        </div>

        <div class="col-md-5  offset-0 offset-md-1 wow animated fadeInLeft delay-1s">

          <br>
          <!-- <h4 class="mb-0"><span class="badge badge-secondary font-body">About Us</span></h4> -->
          <div class="">

            <div class="about-img position-relative d-none d-md-block" style="min-height: 295px;">
              <div class="my-3 my-lg-0"><div class="gradient-bg wow animated fadeInUp delay-1-7s"><img src="{{ page.first_about_image | relative_url }}" alt="About Image"></div></div>
              <div data-0="top: 120px" data-end="top: 80px"><div class="gradient-bg wow animated fadeInUp delay-2s"><img style="height: 33vh;" src="{{page.second_about_image | relative_url}}" alt="About Image" style="object-fit: cover;"></div></div>
            </div>
            <img class="d-none d-sm-block d-md-none animated fadeInUp delay-1s" src="{{ page.first_about_image | relative_url }}" alt="About Image">

          </div>
        </div>


      </div>


    </div>

  </div>

  <div class="container mt-5">
    <p class="t400 ls0 nott mb-3 text-light wow animated fadeIn text-justify " style="font-size: 1.2rem"> {{page.paragraph2}}</p>
  </div>

  <div class="container mt-5">
    {% include team.html %}
  </div>

</div>

{% include CTAbanner.html %}