---
page: about
layout: single-page
title: What is Nolan Hue?
first_about_image: assets/uploads/ne.jpg
second_about_image: assets/images/alumni/1.jpg
banner_image: assets/uploads/nh-branding.jpg
slug: about
paragraph: >-
  Nolan Hue is a social enterprise that creates and facilitates professional
  development opportunities for young people in Antigua and Barbuda and the
  wider Caribbean.
directors:
  - name: Regis Burton
    position: Chief Director
    bio: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit.  Error animi
      tempora quia minima fugit, voluptate non corporis consequatur! Molestias
      repellendus explicabo animi placeat eaque beatae vero maxime, quae nihil
      deserunt.
    image: /assets/uploads/zea-2702-1.jpg
    linkedIn: 'https://url.goes.here'
  - name: Lyle Jackson
    position: Psition here
    bio: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius
      omnis reprehenderit distinctio cum nihil, quam quas sint dolor iure.
      Itaque recusandae beatae, necessitatibus veniam assumenda repellendus.
      Tenetur, dolorem obcaecati?
    image: /assets/uploads/image0.jpeg
    linkedIn:
  - name: KAREL FORDE-HARRIGAN
    position:
    bio: >-
      Karel Forde-Harrigan is a Risk Analyst at the Eastern Caribbean Central
      Bank. She has over ten years’ experience in Sovereign Debt Management,
      having worked as a Debt Analyst at the same institution and serving the
      Government of Antigua and Barbuda in a similar role prior to that. She is
      a married mother of one and is passionate about the financial empowerment
      of individuals in her community, loves teaching, event planning and
      volunteering. https://www.linkedin.com/in/kmforde-harrigan/
    image: /assets/uploads/image3-1.jpeg
    linkedIn:
team:
  - name: Alisha Francis
    position: CEO
    bio: >-
      A Youth Ambassador through Partners of the Americas; Alisha Francis began
      her journey in Nolan Hue in 2016 as a YER Alumni. Today, she leads a
      Workforce Management team, and entrepreneurially founded The Sinarf Brand.
      In her spare time, she enjoys offering business consultancy services, and
      engaging in strategic financial stimulation discussions.     Alisha has
      honed empowering people to know their “why?” through path creation. Utmost
      importance is placed on self-worth and living limitlessly.
    image: /assets/uploads/zea-2702-1.jpg
    linkedIn: 'https://url.goes.here'
  - name: Waskeyra Suriel
    position: Head of Administration
    bio: >-
      Sonyque Suriel is a Freelancer Business Administrative worker. She
      graduated from Monroe College with a Bachelor's Degree in Business
      Management and Accounting. She believes joining Nolan Hue is a great way
      to be more involved in the local community and grow as an individual. She
      hopes to one day bring wholesome entertainment and deepen the sense of
      community to the Island of Antigua.
    image: /assets/uploads/image0.jpeg
    linkedIn:
  - name: Canice James
    position: Head of Information Systems
    bio: >-
      Passionate about software engineering and digital products; Canice James
      lead teams of developers and designers to design, build and deliver
      impactful applications and solutions that empower and transform businesses
      as well as solve problems in communities. He was selected to represent
      Antigua and Barbuda's industry of software at conferences, innovation labs
      and think tanks for the UN Sustainable Development Goals.
    image: /assets/uploads/img-20191111-220323-sq-1.jpg
    linkedIn: 'https://url.goes.here'
  - name: Dwana Anderson
    position: Head of Public Relations and Marketing
    bio: >-
      Dwana  Anderson is a Marketing enthusiast, blogger, and advocate for youth
      development and empowerment. She has a Bachelor’s in Management
      (Marketing) from the University of the West Indies(First Class Honors) and
      currently She is the PR & Marketing head for the Nolan Hue Foundation.
    image: /assets/uploads/20200916-191428-0000-2-1.jpg
    linkedIn: 'https://url.goes.here'
  - name: Imani Sinclair
    position: Head of Alumni Association
    bio: >-
      Imani Sinclair is passionate about continuously finding ways of improving
      herself whether it is through seeking opportunities or creating them. With
      Education at the forefront of Imani’s mission. In June 2020, she minted
      her Master of Business Administration after graduating from the University
      of International Business and Economics in Beijing China. Before this, she
      attended the University of Guyana where she completed her Bachelor of
      Science in International Relations.
    image: /assets/uploads/whatsapp-image-2020-10-22-at-5-11-02-am-2.jpg
    linkedIn: 'https://url.goes.here'
---

<div class="section section-about m-0 background-grey text-light ">

  <div class="section section-about m-0 background-grey text-light"
    style="padding: 120px 0;">
    <div class="container">

      <h3 class="bottommargin text-light text-center wow  animated  fadeIn delay-1s"> Fostering Professional Development</h2>

      <div class="row">

        <div class="col-md-5 wow animated fadeInLeft delay-1s">

          <br>
          <!-- <h4 class="mb-0"><span class="badge badge-secondary font-body">About Us</span></h4> -->
          <div class="">

            <div class="about-img position-relative d-none d-md-block" style="min-height: 295px;">
              <div class="my-3 my-lg-0"><div class="gradient-bg wow animated fadeInUp delay-1-7s"><img src="{{ page.first_about_image | relative_url }}" alt="About Image"></div></div>
              <div data-0="top: 120px" data-end="top: 80px"><div class="gradient-bg wow animated fadeInUp delay-2s"><img style="height: 33vh;" src="{{page.second_about_image | relative_url}}" alt="About Image" style="object-fit: cover;"></div></div>
            </div>
            <img class="d-none d-sm-block d-md-none animated fadeInUp delay-1s" src="{{ page.first_about_image | relative_url }}" alt="About Image">

          </div>
        </div>

        <div class="col-md-6 wow animated fadeInRight delay-1s offset-0 offset-md-1 mt-5 mt-md-0">
          <h3 class="t400 ls0 nott mb-3 font-primary text-light wow animated fadeInUp mt-5 "> {{page.paragraph}} </h3>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container mt-5">
    <h4 class="t400 ls0 nott mb-3 font-primary text-light wow animated fadeInUp "> {{page.paragraph}}</h4>
  </div> -->

  <div class="container mt-5">
    {% include team.html %}
  </div>

</div>

{% include CTAbanner.html %}