<div class="section section-about m-0 background-grey text-light" style="padding: 120px 0; background-image: url('assets/images/dots-1.png') 100% 0 no-repeat / 40%;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- <h4 class="mb-0"><span class="badge badge-secondary font-body">About Us</span></h4> -->
        <div class="heading-block">
          <h2 class="t400 ls0 nott mb-3 font-primary text-light ">Nolan Hue fosters social development opportunities which positively influences  people and communities. </h2>
        </div>
        <p class="text-left">Professional Development • Empowerment • Youth </br> Excellence • Integrity </p>
        <a href="#" class="button button-large ls0 nott ml-0 mt-2 clearfix">Learn More</a>
      </div>
      <div class="col-md-6 offset-0 offset-md-1 mt-5 mt-md-0">
        <div class="circle-border">
          <div class="feature-content">
            <div class="row align-items-center justify-content-between h-100">
              <div>
                <div class="circle-inner">
                  <div>
                    <div class="counter mb-0 t400 font-body text-primary"><span class="font-body" data-from="1" data-to="30" data-refresh-interval="10" data-speed="2000"></span>+</div>
                    <h5 class="mt-1 text-muted mb-0 font-body ls0">Members</h5>
                  </div>
                </div>
              </div>

              <div class="d-flex h-100 flex-column justify-content-between">
                <div class="circle-inner">
                  <div>
                    <div class="counter mb-0 t400 font-body text-info"><span class="font-body" data-from="1" data-to="200" data-refresh-interval="200" data-speed="23000"></span>+</div>
                    <h5 class="mt-1 text-muted mb-0 font-body ls0">Alumni</h5>
                  </div>
                </div>
                <div class="circle-inner">
                  <div>
                    <div class="counter mb-0 t400 font-body text-danger"><span class="font-body" data-from="1" data-to="8" data-refresh-interval="50" data-speed="2100"></span></div>
                    <h5 class="mt-1 text-muted mb-0 font-body ls0">Events<br/>Hosted</h5>
                  </div>
                </div>
                <div class="circle-inner">
                  <div>
                    <div class="counter mb-0 t400 font-body text-warning"><span class="font-body" data-from="1" data-to="4" data-refresh-interval="100" data-speed="2400"></span></div>
                    <h5 class="mt-1 text-muted mb-0 font-body ls0">Years</h5>
                  </div>
                </div>
              </div>

              <div>
                <div class="circle-inner">
                  <div>
                    <div class="counter mb-0 t400 font-body color"><span class="font-body" data-from="1" data-to="12" data-refresh-interval="100" data-speed="2400"></span></div>
                    <h5 class="mt-1 text-muted mb-0 font-body ls0">Partners</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="section nomargin nobg clearfix">
  <div class="container-fluid clearfix">

    <div class="heading-block bottommargin nobottomborder center">
      <h3>Our Mission </h3>
    </div>


    <div class="row px-4 mx-3 clearfix">

      {% for mission in site.missions %}
      <div class="col-sm-4 col-12  product showcase-section clearfix">
        <div class="showcase-target-images">
          <img class="" alt="Image" id="product-1-black" src="{{mission.image}}">
        </div>
        <div class="product-desc list-inline center">

          <div class="product-title mt-2">
            <h2><a href="#" class="t400">{{mission.title}}</h2>
          </div>
          <div class="product-price">{{mission.body}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> 
</div> -->