<!-- Features
    ============================================= -->
<div class="container clearfix">

  <!-- Explore Section
      ============================================= -->
  <div class="heading-block bottommargin topmargin-sm nobottomborder center">
    <h3>Explore</h3>
  </div>

  <!-- Explore Gallery
      ============================================= -->
  <div class="row clearfix">
    <div class="col-md-3 mb-2 mb-md-auto ohidden text-overlay-wrap">
      <img src="assets/images/girlspower.jpg" style="object-fit: cover; height:400px" alt="">
      <div class="explore-text-overlay">
        <div class="vertical-middle dark center">
          <a href="initiatives"
            class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400 nomargin"><span>See more
              </span></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-auto ohidden text-overlay-wrap">
      <img src="assets/images/girlspower2.jpg" style="object-fit: cover; height:400px"  alt="">
      <div class="explore-text-overlay">
        <div class="vertical-middle dark center">
          <a href="initiatives"
            class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400 nomargin"><span>See more
              </span></a>
        </div>
      </div>
    </div>
    <div class="col-md-2 mb-2 mb-md-auto">
      <div class="row">
        <div class="col-12 mb-2 mb-md-0 ohidden text-overlay-wrap">
          <img src="assets/images/gamedevel.jpg" style="object-fit: cover;  height:190px" alt="">
          <div class="explore-text-overlay">
            <div class="vertical-middle dark center">
              <a href="initiatives"
                class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400 nomargin"><span>See more
                  </span></a>
            </div>
          </div>
        </div>
        <div class="col-12 mt-md-4 ohidden text-overlay-wrap">
          <img src="assets/images/techweek.jpg" style="object-fit: cover; height:190px"  alt="">
          <div class="explore-text-overlay">
            <div class="vertical-middle dark center">
              <a href="initiatives"
                class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400 nomargin"><span>See more
                  </span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-2 mb-md-auto ohidden text-overlay-wrap">
      <img src="assets/images/girlspower2.jpg" style="object-fit: cover; height:400px"  alt="">
      <div class="explore-text-overlay">
        <div class="vertical-middle dark center">
          <a href="initiatives"
            class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400 nomargin"><span>See more
              </span></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Information Section
      ============================================= -->
  <div class="row topmargin-lg center clearfix">
    <div class="section-contact col-lg-4 col-md-6 bottommargin">
      <div class="p-5">
        <i class="i-plain i-large divcenter mb-4 icon-line2-map"></i>
        <h3 class="mb-3">Find The Next Event </h3>
        <span>See upcoming events</span><br>
        <a href="initiatives.html"
          class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott ls0 noleftmargin mt-4"><span>Find
            Event</span></a>
      </div>
    </div>

    <div class="section-contact col-lg-4 col-md-6 bottommargin">
      <div class="p-5">
        <i class="i-plain i-large divcenter mb-4 icon-line2-envelope-letter"></i>
        <h3 class="mb-3">Newsletter Signup</h3>
        <span>Signup for our Newsletter &amp; get updates &amp; offers in your inbox.</span><br>
        <a href="contact.html"
          class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott ls0 noleftmargin mt-4"><span>SignUp
            Now</span></a>
      </div>
    </div>

    <div class="section-contact col-lg-4 col-md-6 bottommargin">
      <div class="p-5">
        <i class="i-plain i-large divcenter mb-4 icon-line2-support"></i>
        <h3 class="mb-3">Support & Donate</h3>
        <span>Support the initiatives</span><br>
        <a href="contact.html"
          class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott ls0 noleftmargin mt-4"><span>Contact
            Us</span></a>
      </div>
    </div>
  </div>

