<section id="content">

    <div class="content-wrap nopadding">

        <section id="section-about" class="page-section section nobg nomargin">
            <div class="container clearfix">

                <div class="heading-block bottommargin-lg center">
                    <h2>Areas of Technology Integration</h2>
                    <span>Everything you need to know about us.</span>
                </div>

                <div class="col_one_third">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Student <span>Education</span>.</h4>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

                </div>

                <div class="col_one_third">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>The <span>Workplace</span>.</h4>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

                </div>

                <div class="col_one_third col_last">

                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4>Public <span>Workshops</span>.</h4>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

                </div>

                <div class="clear"></div>

                <ul class="clients-grid grid-6 nobottommargin clearfix">
                    <li><a href="#"><img src="assets/images/clients/1.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/2.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/3.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/4.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/5.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/6.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/7.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/8.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/9.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/10.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/11.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="assets/images/clients/12.png" alt="Clients"></a></li>
                </ul>

            </div>
        </section>
