{% assign contact = site.sections | where: "title", "Contact" | first %}

<!--==========================
      Contact Section
    ============================-->
<section id="contact" class="text-light background-grey">
  <div class="container">

    <div class="line topmargin-lg bottommargin-lg"></div>

    <div id="section-contact" class="page-section">

    <h2 class="bottommargin text-light text-center wow  animated  fadeIn delay-1s"> {{contact.heading}}</h2>

      <div class="row clearfix">

        <div class="col-12 col-md-6  ">
          <div class="about-img position-relative d-none d-md-block">
            <div class="my-3 my-lg-0"><div class="gradient-bg wow animated fadeInUp delay-1-7s"><img src="{{contact.first_image}}" alt="About Image"></div></div>
            <div data-0="top: 120px" data-end="top: 80px"><div class="gradient-bg wow animated fadeInUp delay-2s"><img style="height: 33vh;" src="{{contact.second_image}}" alt="About Image"></div></div>
          </div>
          <img class="d-none d-sm-block d-md-none animated fadeInUp delay-1s" src="{{contact.first_image}}" alt="About Image">


        </div>

        <div class="col-12 col-md-6">

          <div class="form-widget">

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfBPIXlllzNRKIGMYTfXmMb5P1nykdQpizzYXdHMxdqTPb-HQ/viewform?embedded=true" width="100%" height="450px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

          </div>

        </div>


      </div>

    </div>
  </div>
</section>
<!-- #contact -->