<div id="events" class="portfolio portfolio-parallax clearfix">

{% assign i = 1 %}
{% assign reverse = false %}
{% for event in site.events %}
  <article class="portfolio-item pf-media pf-icons row" {% if reverse %} style="flex-direction: row-reverse;"  {% endif %}>
    <span style="display: none;">{% if reverse == true %} {% assign reverse = false %} {% elsif reverse == false %} {% assign reverse = true %} {% endif %} {{ reverse }}</span>
    <div class="col-md-12 col-lg-6 d-flex" style="background-color: {% cycle "bg1": "#444", "#ffc013", "#dc3545" %}; justify-content: center; align-items: center; flex-flow: column; padding: 8vw!important">
      <a href="">
        <h2 class="text-light wow animated fadeInUp delay-0-5s" > {{event.name}} </h2>
      </a>
      <p class="{% cycle "text-light", "text-dark", "text-dark" %} wow animated fadeInUp  delay-0-7s event-description">{{event.description}} </p>

      <h1 style="font-size: 48px;  position: absolute; top:68%; z-index:4; white-space: pre-wrap; width: 340vw; color:{% cycle "#ffffff17", "#dc354587", "#ffc013bd" %}; " class="scroll-title">
        <strong> {% for  i in (1..25)  %}{{event.name}} {% endfor %}</strong>
      </h1>
    </div>
    
    <div class="col-md-12 col-lg-6 p-0" style="position: relative;">
      <div class="parallax-effect parallax-effect-{% increment i %}" style=" background-color: {% cycle "bg2": "#444", "#ffc013", "#dc3545" %} "></div>
      <div  class="d-none d-lg-block portfolio-image  {% if reverse %}  p-right {% elsif reverse==false %}  p-left {% endif %} {{event.shortName}}-distort"   style="background-image: url({{ event.banner_image | relative_url}}); height: 100%!important; background-position: right; background-size: contain; background-position-x: right;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;"><div class="portfolio-overlay"></div></div>
      <div  class="d-md-block d-lg-none portfolio-image {% if reverse %}  p-right {% elsif reverse==false %}  p-left {% endif %} img-fluid"   style="background-image: url({{ event.banner_image | relative_url}}); height: 100%!important; background-position: right; background-size: contain; background-position-x: right;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;"><div class="portfolio-overlay"></div></div>

      <div class="portfolio-desc text-light">
        <h3><a href="#" class="text-light">{{event.subtitle}}</a></h3>
        <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
        <div class="portfolio-divider"><div>

      </div>

    </div>

  </article>
{% endfor %}

</div>