<!-- Section 1
				============================================= -->

<!-- 
<section class="section my-0" style="padding-top: 60px;">

	{% assign events = site.events | sort_by: 'order' | reverse %}
	{% assign first = 1 %}

	{% for event in events %}


	{% if event.float == 'right' %}
	<div class="section-product clearfix">
	
		{% if first == 1 %}
		<div class="heading-block bottommargin nobottomborder center">
			<h3>Events</h3>
		</div>
		{% endif %}

		<div class="container clearfix my-5 py-5">
			<div class="section-product-image">
				<img src="{{ event.image | relative_url }}" alt="">
			</div>
			<div class="section-product-content edge-underline rellax" style="bottom: {% if page.event-pos %} {{ page.event-pos }}{% else %} {{ layout.event-pos }}{% endif %}%; right: 7%;" data-rellax-speed="-2">
				<h3> {{ event.name }}</h3>
				<p>{{ event.description }}</p>
				<div class="row justify-content-center clearfix">
					<div class="col-6 align-items-center">
						<div class="section-product-price">{{ site.dates }}</div>
					</div>
					<div class="col-6 align-items-center">
						<a href="{{event.url}}"
							class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott t400 nomargin"><span>Read
								More</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% else %}

	<div class="section-product alt pt-2 pt-lg-4 toppadding notopmargin nobottommargin clearfix">
		<div class="container clearfix  my-5 py-5">
			<div class="section-product-image">
				<img src="{{ event.image | relative_url }}" alt="">
			</div>
			<div class="section-product-content hide-on-play edge-underline rellax" style="bottom: {% if page.event-pos %} {{ page.event-pos }}{% else %} {{ layout.event-pos }}{% endif %}%; left: 7%;"
				data-rellax-speed="-2">
				<h3>{{ event.name }}</h3>
				<p>{{ event.description }}</p>
				<div class="row justify-content-center clearfix">
					<div class="col-6 align-items-center">
						<div class="section-product-price">{{ site.dates }}</div>
					</div>
					<div class="col-6 align-items-center">
						<a href="{{event.url}}"
							class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott t400 nomargin"><span>Read
								More</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% assign first = 0 %}

	{% endfor %}

	<div id="particles-js-green"></div>
</section> -->

<!-- #section-speaker end -->

<!-- Slider
============================================= -->

{% assign events = site.sections | where: "title", "Events" | first %}
{% assign bgchars = "N O L" | split: ' ' %}
{% assign bgchars2 = "A N" | split: ' ' %}
{% assign bgchars3 = "H U E" | split: ' ' %}


<section style="position: relative;" class="mt-5">
	<div class="row my-2 mx-5" class="">

		{% for i in (0..2) %}

		<div class="col col-4 p-2" data-scroll data-scroll-speed="{% cycle "0","1"%}" style="z-index: 5; margin: 0 auto; {% if i == 1 %} top: 150px; {% endif %}">
			{% for block in (1..3) %}
			<div class="p-4" style="position: relative;">
				<img src="{{events.events[i].thumbnail}}" alt="">
				<h3 class="text-left text-light pl-3" style="position: absolute; bottom: 0px; text-shadow: #1d2229 3px 2px"> {{events.events[i].title}} </h3> 
			</div>
			{% endfor %}
		</div>
		{% endfor %}

	</div>

	{% for i in (0..1) %}
	<section style="position: absolute; top: -130px; {% cycle 'z-index: 0;', 'opacity:0.3; z-index: 8; mix-blend-mode: overlay; pointer-events: none;'%}" >
		<div class="row" style="width: 100vw;">
			<div class="col">

				{% assign scroll = %}
			{% for char in bgchars %}
				<span class="bg-chars" data-scroll data-scroll-speed="{% cycle '-1', '1', '-1'  %}" data-scroll-direction="{%cycle 'vertical', 'horizontal', 'horizontal'  %}">
					{{char}}
				</span>
			{% endfor %}
			</div>
			<div class="col " style="margin-top: 10em">
				{% for char in bgchars2 %}
				<span class="bg-chars"  data-scroll data-scroll-speed="{% cycle '1', '-1'  %}" data-scroll-direction="{%cycle 'vertical', 'vertical' %}" >
					{{char}}
				</span>
				{% endfor %}
			</div>
			<div class="col">
				{% for char in bgchars3 %}
				<span class="bg-chars"  data-scroll data-scroll-speed="{% cycle '1', '1', '-1'  %}" data-scroll-direction="{%cycle 'horizontal', 'vertical', 'vertical' %}"  >
					{{char}}
				</span>
				{% endfor %}
			</div>
	
		</div>
	</section>
	{% endfor %}


</section>


<section data-scroll data-scroll-call="" id="slider" class="slider-element revslider-wrap bg-light clearfix" >


</section>