<meta charset="utf-8" />

{% include seo.html %}

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="SemiColonWeb" />

<!-- Stylesheets
	============================================= -->
<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700"
  rel="stylesheet"
  type="text/css"
/>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700,800,900|Open+Sans:400%7CSource+Sans+Pro:400%2C900%2C600" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{{ 'assets/css/bootstrap.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{ 'assets/css/dark.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{ 'assets/css/swiper.css' | relative_url }}" type="text/css" />

<link rel="stylesheet" href="{{'assets/css/font-icons.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{'assets/css/et-line.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{'assets/css/animate.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{'assets/css/magnific-popup.css' | relative_url }}" type="text/css" />

<link rel="stylesheet" type="text/css" href="{{'assets/css/menu.css' | relative_url }}" />

<link rel="stylesheet" href="{{'assets/css/responsive.css' | relative_url }}" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/css/settings.css' |  relative_url }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/css/layers.css' |  relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/css/navigation.css' |  relative_url }}">
  
	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/css/addons/revolution.addon.particles.css' |  relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/css/addons/typewriter.css' |  relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{'assets/js/rs-plugin/fonts/font-awesome.min.css' |  relative_url }}">
  
<link rel="stylesheet" href="{{'assets/css/fonts.css' | relative_url }}" type="text/css" />
<link rel="stylesheet" href="{{ 'assets/css/colors.css' | relative_url }}" type="text/css" />

<link rel="stylesheet" href="{{ 'assets/custom.css' | relative_url }}" type="text/css" />


<script src="{{'assets/js/jquery.js' | relative_url }}"></script>


<!-- Document Title
	============================================= -->
<title>Caribbean Tech Genius</title>



<style>

  .demos-filter {
    margin: 0;
    text-align: right;
  }

  .demos-filter li {
    list-style: none;
    margin: 10px 0px;
  }

  .demos-filter li a {
    display: block;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
  }

  .demos-filter li a:hover,
  .demos-filter li.activeFilter a { color: #1ABC9C; }

  @media (max-width: 991px) {
    .demos-filter { text-align: center; }

    .demos-filter li {
      float: left;
      width: 33.3%;
      padding: 0 20px;
    }
  }

  @media (max-width: 767px) { .demos-filter li { width: 50%; } }

  #welcome_wrapper .tp-loader.spinner3{ background-color: #222222 !important; }
  video::-webkit-media-controls-start-playback-button{display:none !important}
  .tc-gradient i:before{background:-webkit-linear-gradient(left,#2ed8a3 0%,#2970ff 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
  .tc-btnshadow{-webkit-box-shadow:3px 5px 10px 0px rgba(0,0,0,0.2) !important;-moz-box-shadow:3px 5px 10px 0px rgba(0,0,0,0.2) !important;box-shadow:3px 5px 10px 0px rgba(0,0,0,0.2) !important}

</style>