{% if page.layout == "home" %}
<!-- {% for slide in page.slides %}
      <img src="{{ slide.src }}">
    {% endfor %} -->

{% include slider1.html %}


{% elsif page.layout == "single-page" or page.layout == "post" or page.missing == true %}

<section id="slider" class="slider-element full-screen with-header force-full-screen clearfix" style="width: 100vw;">

  <div class="">

    <div class="full-screen force-full-screen rellax" data-rellax-speed="-9"
      style="background: url('{% if page.banner-image %} {{ page.banner-image | relative_url}} {% else %}/assets/uploads/ne2.jpg{% endif %}') center center no-repeat; background-size: cover;">
      <span class="text-blend"><h1 style="color: white;" class="text-emphasis  vertical-middle center rellax  fadeInUp delay-0-2s  d-none d-md-block" data-rellax-speed="7">
        <strong >{{page.title}}</strong></h1></span>
      <span class="text-blend"><h1 style="color: #ffc013;"  class="text-emphasis vertical-middle center rellax  fadeInUp delay-0-5s  d-none d-md-block" data-rellax-speed="5">
        <strong >{{page.title}}</strong></h1></span>
      <span class="text-blend"><h1 style="color: #e10000;" class="text-emphasis  vertical-middle center rellax  fadeInUp delay-0-7s  d-none d-md-block" data-rellax-speed="3">
        <strong>{{page.title}}</strong></h1></span>
      <h1 style="font-size: 48px;"  class="text-emphasis vertical-middle center  delay-1s remove-animation">
        <strong>{{page.title}}</strong></h1>
    </div>
  </div>

</section>

{% elsif page.slug == "comingsoon" %}

  {% include comingsoonhero.html %}
{% endif %}