{% if page.layout == "home" %}
<!-- {% for slide in page.slides %}
      <img src="{{ slide.src }}">
    {% endfor %} -->
 
		{% include slider1.html %}


{% else %}

<section id="page-title" class="page-title-parallax page-title-dark"
	style="padding: 150px 0; background-image: url({{'assets/images/hello-world.jpg' | relative_url}}); background-size: cover; background-position: center center;"
	data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

	<div class="container clearfix">
		<h1>{{ page.title }}</h1>
		<span>{{ page.subtitle }}</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Pages</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ page.title}}</li>
		</ol>
	</div>

</section><!-- #page-title end -->
<div id="particles-js" style="z-index: 2;">

</div>


{% endif %}