<section id="section-video" class="page-section full-screen section dark nopadding nomargin noborder ohidden">

					<div class="container-fluid vertical-middle center clearfix">
						<i class="i-plain i-xlarge icon-diamond divcenter bottommargin"></i>

						<div class="slider-caption slider-caption-center">
							<h2 data-animate="fadeInUp">Moving forward together</h2>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">"Momentum poverty tackling fellows social impact. Expanding community ownership, future affiliate protect civil society. Bloomberg."</p>
						</div>
					</div>
					<div class="video-wrap">
						<video poster="assets/videos/explore.jpg" preload="auto" loop autoplay muted>
							<source src='assets/videos/explore.mp4' type='video/mp4' />
							<source src='assets/videos/explore.webm' type='video/webm' />
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.2);"></div>
					</div>

				</section>