
	<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>


	<nav id="primary-menu" class="not-dark">

		<ul>
			<li class="current"><a href="{{'/' | relative_url}}"><div>Home</div></a></li>
			<li><a href="{{'about.html' | relative_url}}"><div>About</div></a>
			</li>
			<li class="mega-menu"><a href="{{'initiatives.html' | relative_url}}"><div>Events</div></a>
			</li>
			<li class="mega-menu"><a href="{{'contact.html' | relative_url}}"><div>Contact</div></a>			</li>
		</ul>
	</nav><!-- #primary-menu end -->
		