
	<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>


	<nav id="primary-menu" class="not-dark">

		<ul>
			<li class="current"><a class="nav-home" href="{{'/' | relative_url}}">Home</a></li>
			<li ><a href="{{'about' | relative_url}}">About</a>
			</li>
			<li class="mega-menu"><a class="nav-about" href="{{'events' | relative_url}}">Events</a>
			</li>
			<!-- <li class="mega-menu"><a class="nav-about" href="{{'events' | relative_url}}">Oppurtunities</a>
			</li> -->
		</ul>
		<ul>
			<!-- <li class="mega-menu"><a class="nav-about" href="{{'alumni' | relative_url}}">Alumni</a> -->
			</li>
			<li class="mega-menu"><a class="nav-articles" href="{{'articles' | relative_url}}">Articles</a>
			</li>
			<li class="mega-menu"><a class="nav-gallery" href="{{'gallery' | relative_url}}">Gallery</a>
			</li>
			<li class="mega-menu"><a  class="nav-contact" href="{{'contact' | relative_url}}">Contact</a>			</li>
		</ul>
	</nav><!-- #primary-menu end -->
		