<section id="section-about" class="page-section section nobg nomargin">
  <div class="container clearfix">

    <div class="heading-block bottommargin-lg center">
      <h2>Sponsors</h2>
      <span></span>
    </div>

    <ul class="clients-grid grid-6 nobottommargin clearfix">
      <li><a href="#"><img src="assets/images/clients/1.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/2.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/3.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/4.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/5.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/6.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/7.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/8.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/9.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/10.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/11.png" alt="Clients"></a></li>
      <li><a href="#"><img src="assets/images/clients/12.png" alt="Clients"></a></li>
    </ul>

  </div>
</section>
