<section class="py-5">
  <h2 class="bottommargin text-light text-center wow  animated  fadeIn delay-1s"> Management Tea*</h2>

  <div class="row">

    <div class="bottommargin w-100">

      {% assign i = 1 %}
      {% assign reverse = false %}
      {% for person in page.team %}

      <div class="team py-5 team-list clearfix row {% if reverse == true %} d-flex flex-row-reverse {% endif %}">
        <div class="team-image col-6 col-lg-4">
          <div class="img-container">
            <img src="{{ person.image | relative_url}}" alt="Nix Maxwell" class="scroll-team-img">
          </div>
        </div>
        <div class="d-flex align-self-center flex-column team-desc col-6 col-lg-4" >
          <div class="team-title ">            <h4 class="text-light {% if reverse == true %} text-right {% endif %}">{{ person.name }}</h4>
            <span class="text-light {% if reverse == true %} text-right {% endif %}">{{ person.position }}</span>
          </div>
          <div class="team-content {% if reverse == true %} text-right {% endif %}">
            <p class="text-light">{{ person.bio }}</p>
          </div>

          <div class="mt-4 {% if reverse == true %} d-flex flex-row-reverse {% endif %}">
            <a href="#" class="social-icon si-rounded si-small si-linkedin text-light">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
            <a href="#" class="social-icon si-rounded si-small si-gmail text-light">
              <i class="icon-gmail"></i>
              <i class="icon-gmail"></i>
            </a>       
          </div>

        </div>
      </div>


      <span style="display: none;">{% if reverse == true %} {% assign reverse = false %} {% elsif reverse == false %} {% assign reverse = true %} {% endif %} {{ reverse }}</span>

      {% endfor %}


    </div>
  </div>
</section>


<!--==========================
      Team Section
    ============================-->

<!-- #team -->