/* ----------------------------------------------------------------
	Canvas: Headphones Demo
	Version: 1.0
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/
.slider-element .heading-block p	{
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 5px;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 15px;
	color: rgba(255, 255, 255, 0.7);
}

.slider-element .slider-product-desc {
	position: absolute;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: 65%;
	z-index: 2;
}

.slider-element .slider-product-desc [class^='col-'] {
	background-color: #353535;
	padding: 30px;
}

.slider-element .vertical-middle .container { top: -60px; }

.play-icon {
	position: relative;
	display: block;
	font-size: 18px;
	margin: 20px 0 0 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	color: #FFF !important;
	border: 2px solid #EEE;
	text-align: center;
	-webkit-transition: transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
}

.play-icon i {
	position: relative;
	left: 2px;
}

.play-icon:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.heading-block h3 {
	font-weight: 800;
	text-transform: none;
	font-size: 2.3rem;
	letter-spacing: 0;
}

.edge-underline h3,
.product:hover .product-title h3 {
	text-decoration: underline;
	text-decoration-skip: edges;
}

/* ----------------------------------------------------------------
	On Hover Changes
-----------------------------------------------------------------*/
.showcase-target-images { position: relative; }

.showcase-target {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	-moz-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	-o-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
}

.showcase-target.showcase-target-active {
	position: relative;
	display: block;
}

.showcase-section:hover .showcase-target {
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.showcase-section ul li {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #000;
	cursor: pointer;
	border: 1px solid #EEE;
}

.showcase-section ul li.headphone-red { background-color: #af1e2b; }
.showcase-section ul li.headphone-black { background-color: #000; }
.showcase-section ul li.headphone-blue { background-color: darkblue; }
.showcase-section ul li.headphone-pink { background-color: pink; }
.showcase-section ul li.headphone-white { background-color: white; }

.sale-flash {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 11px;
	text-shadow: none;
	background-color: #222 !important;
	left: 50%;
	top: 20px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ----------------------------------------------------------------
	Section Products
-----------------------------------------------------------------*/

.section-product {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 3;
}

.section-product .section-product-image {
	width: 100%;
}

.section-product .section-product-content {
	max-width: 100%;
	position: relative;
	bottom: 0px;
	right: 0;
	background-color: #FFF;
	padding: 20px;
	z-index: 1;
}

.section-product .section-product-content h3 { font-weight: 800; }

.section-product.alt .section-product-image,
.section-product.alt .section-product-content { float: none; }

.section-product .section-product-price {
	font-size: 1.5rem;
	font-weight: 700;
}

.explore-text-overlay {
	opacity: 0;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: calc(100% - 30px);
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
	margin-left: 15px;
	-webkit-transition: all .4s ease ;
	-o-transition: all .4s ease ;
	transition: all .4s ease ;
}

.text-overlay-wrap:hover .explore-text-overlay { opacity: 1; }

.section-contact h3 {
	font-size: 1.4rem;
	font-weight: 700;
}

.section-contact > div {
	padding: 30px 20px;
	border: 1px solid #EEE;
}

.social-icon.si-mini {
	width: 28px;
	height: 28px;
	font-size: 12px;
	line-height: 27px !important;
}

.social-icon.si-mini:hover i:first-child { margin-top: -27px; }

.feature-box.media-box .fbox-icon {
	position: relative;
	width: 36px;
	height: 54px;
}

@media (min-width: 1199px) {

	#primary-menu ul li > a {
		font-size: 15px;
		letter-spacing: 0;
		text-transform: none;
	}

	/* Hover Effects style-7 */
	#primary-menu ul li > a div {
		position: relative;
		overflow: hidden;
	}

	#primary-menu ul li > a div::before,
	#primary-menu ul li > a div::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.4);
		transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
		transition: transform 0.7s;
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		z-index: -1;
	}

	#primary-menu ul li.current > a div::before,
	#primary-menu ul li > a:hover div::before { transform: translate3d(100%,0,0) translate3d(1px,0,0); }

	#primary-menu ul li.current > a div::after,
	#primary-menu ul li > a:hover div::after { transform: translate3d(0,5px,0); }

	#primary-menu ul li > a div::after {
		top: calc(50%);
		height: 4px;
	}

	.product {
		padding: 65px;
		border-right: 1px solid #EEE;
	}

	.slider-element .heading-block h2 {
		font-size: 3.1rem;
		line-height: 1.35;
		text-transform: none;
		letter-spacing: 0;
		font-weight: 700;
	}

	.slider-element .slider-product-desc [class^='col-'] { padding: 50px; }

	.play-icon { margin: 0 auto; }

	.section-product .section-product-image {
		position: relative;
		width: 85%;
		background: #FFF;
	}

	.section-product .section-product-content {
		max-width: 400px;
		position: absolute;
		bottom: 30px;
		right: 0;
		padding: 30px;
	}

	.section-product.alt .section-product-image { float: right; }

	.section-product.alt .section-product-content {
		left: 0;
		right: auto;
	}

}

@media (max-width: 991px) {
	.slider-element .vertical-middle .container { top: 0; }
}

.inline-YTPlayer { z-index: 1; }

#ytb-video-button.play-icon {
	position: absolute;
	left: auto;
	bottom: 10px;
	right: 10px;
	width: 42px;
	height: 42px;
	line-height: 39px;
	font-size: 20px;
	text-align: center;
	border-width: 2px;
	z-index: 2;
}

#ytb-video-button.play-icon i:nth-of-type(1) {
	position: relative;
	left: 1px;
}

#ytb-video-button.play-icon i:nth-of-type(2),
#ytb-video-button.play-icon.video-played i:nth-of-type(1) { display: none; }

#ytb-video-button.play-icon.video-played i:nth-of-type(2) { display: block; }

.product-price {
	font-weight: 100 !important;
	color: #646363;
}

.section-product .section-product-image {
	max-height: 500px;
	text-align: center;
}

.section-product-image img {
	object-fit: cover;
}


.promo {
	background-color: rgba(225, 0, 0, 1) !important;
}


.slotholder {
  filter: blur(5px);
}

canvas.particles-js-canvas-el {
  position: fixed;
	top: 0;
	z-index: 1500;
	pointer-events: none;
}

/* .layout--single-page canvas.particles-js-canvas-el, .layout--event canvas.particles-js-canvas-el {
z-index: 2;
} */

.card-columns .team {
	display: inline-block;
	width: 100%;
	margin-bottom: 0px;
	transition: opacity .25s ease;
}

.card-columns:hover .team:not(:hover) { opacity: .3; }

.team-image {
	width: 95%;
	/* margin-left: auto; */
}

.team-image:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	background: -o-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.team-desc {
	position: absolute;
	left: 8px;
	bottom: 15px;
	width: 100%;
	text-align: left;
	transition: transform .2s ease-out;
}

.team-title span {
	font-style: normal;
	color: #AAA;
}

.team:hover .team-desc { transform: scale(1.05); }

.team-desc p {
	text-align: justify;
}
.joinspeaker .team-image i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 60px;
	transform: translate(-50%,-50%);
}


.team-image > a, .team-image img {
	object-fit: cover;
	display: block;
	width:  calc((90vw - 60px)/24*9);
	height: 100%;
	transform: translateX(0px);
	max-width: none;
	min-width: 128%;
	
}


.team-title {
  position: relative;
  padding-top: 20px;
}

body, #wrapper, .css3-spinner, #header.dark.sticky-header.transparent-header #header-wrap:not(.not-dark) {
	background-color: #fff;
	/* background: transparent !important; */
}


.text-overlay-wrap {
	transition: all .2s ease-out;
}

.text-overlay-wrap:hover {
	box-shadow: 0 0px 0px rgba(0,0,0,.2);
	transform: translateY(-3px);
	opacity: .95;
}

.button-border.button-black.button-fill:before {
	background-color: #0ed00f !important;
	border-color: #12882d;
}


#page-title:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background: linear-gradient(90deg, rgba(41, 112, 255, 0.75) 0%, rgba(46, 216, 163, 0.75) 100%);
	opacity: 0.7;
}

.single-icon i {
	font-size: 24px;
	width: 50px;
	height: 50px;
	border: 1px solid #444;
	line-height: 46px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.move-bg:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left,  rgba(30,35,42,0) 26%,rgb(30, 35, 42) 75%,rgba(30,35,42,1) 100%);
}

.vertical-middle {
	padding-top: 70px !important;
}



.feature-content {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 300px;
    height: 300px;
}


.circle-border {
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    height: 250px;
		width: 250px;
}

.circle-inner {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 4px;
	background: #FFF;
	box-shadow: 0 0 35px rgba(140, 152, 164, 0.2);
	text-align: center;
	line-height: 1;
	box-sizing: content-box;
	white-space: nowrap;
}

.circle-inner:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	padding-top: 100%;
	height: 0;
}

.counter {
	position: relative;
	top: -75px;
	font-size: 28px;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

.counter + h5 {
	font-family: 'Nunito', sans-serif !IMPORTANT;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
	position: relative;
	top: -75px;
}

@media (min-width: 992px) {
	.feature-content {
			top: -50px;
			left: -50px;
			width: 500px;
			height: 500px;
	}

	.circle-border {
		height: 400px;
		width: 400px;
	}

	.circle-inner {
    width: 100px;
    height: 100px;
    padding: 10px;
	}

	.section-about:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-image: url(images/dots-1.png);
    background-image: var(--section-about-bg);
    background-repeat: no-repeat;
    background-position: top right;
    transform: rotate(-180deg);
    background-size: 40%;
    width: 100%;
    height: 100%;
    z-index: 1;
	}
}


.background-grey {
	background-color: #1d2229 !important;
}

.heading-block:before {
	content: '';
	position: absolute;
	width: 30vw;
	height: 50vh;
	top: -55px;
	left: 30%;
	background-image: radial-gradient(#ffc013 20%, transparent 20%), radial-gradient(#ffc013 20%, transparent 20%);
	background-color: transparent;
	background-position: 0 15px, 15px 15px;
	background-size: 15px 15px;
	opacity: 0.2;
}


.gradient-bg {
	position: relative;
	padding: 4px
}

.gradient-bg:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient( 280deg,var(--color1) 12.08%,var(--color2) 53.53%,var(--color3) 95.62% );
	background: -o-linear-gradient( 280deg,var(--color1) 12.08%,var(--color2) 53.53%,var(--color3) 95.62% );
	background: linear-gradient( 280deg,var(--color1) 12.08%,var(--color2) 53.53%,var(--color3) 95.62% )
}

.gradient-bg * {
	position: relative;
	z-index: 2
}

#header-wrap {
	position: relative;
}

.text-emphasis {
	font-size:48px; 
	opacity: 1;
	/* visibility: hidden; */
}

#slider strong {
	position: relative;
}

.scroll-title {
	font-size: 84px;
	color: rgba(255, 255, 255, 0.09);
	top: 200px;
	text-shadow: none;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.p-right{
	background-position: right !important;
}

.p-left{
	background-position: left !important;
}


.animated.delay-0-2s {
  -webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
	
}

.animated.delay-0-5s {
  -webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.animated.delay-0-7s {
  -webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

.animated.delay-1-2s {
  -webkit-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

.animated.delay-1-5s {
  -webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.animated.delay-1-7s {
  -webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

.animated.delay-2-5s {
  -webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}


.portfolio-item {
	min-height: 100vh !important;
}

.parallax-effect {
	height: 100%;
	width: 103%;
  position: absolute;
	z-index: 5;
	top: 0px;
	left: 0px;
}


.sm-form-control {
	color: #eee !important;
}

.event-description {
	font-size: 18px;
}

/* Custom SCrollBar */
::-webkit-scrollbar {
	width: 6px
}

::-webkit-scrollbar-track {
	background-color: transparent;
	position: absolute;
}

::-webkit-scrollbar-thumb {
	background: #dc3545
}

::-webkit-scrollbar-thumb:hover {
	background: #ffc013
}

.scroll-msg {
	transform: rotate(270deg);
	opacity: 1;
	position: absolute;
	bottom: 5%;
	right: 0%;
	color: white;
	font-weight: 100;
	font-size: 24px;
}


.scroll-msg img {
	transform: scale(0.5);
}

body, html, #reveal > * {
	overflow-y:overlay;
}

body, html {
	width: 100vw;
	overflow-x: hidden;
}

.tp-revslider-slidesli {
	width: 100vw;
}

#rev_slider_120_1_wrapper {
	width: 100vw !important;
}

.full-screen, .force-full-screen {
	width: 100vw;

}

.p-relative {
	position:  relative !important;
}

.team.team-list .team-image {
	/* width: calc((90vw - 60px)/24*5); */
	float: left;
	margin-right: 0px !important;
}

.team-desc {
	/* width: calc((90vw - 60px)/24*10); */
	padding: 0 25px;
}

.team-image .img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	/* min-width: calc((90vw - 60px)/24*4); */
	/* max-width: calc((90vw - 60px)/24*8); */
	/* min-height: calc((90vw - 60px)/24*9); */
	height: 100%;
}

@media (min-width: 991px) {
	.team.team-list .team-image {
		height: calc((100vw - 80px)/26*12);
	}

	.team {
		height: calc((100vw - 80px)/24*9);
	}
}




.story.story-list .story-image {
	/* width: calc((90vw - 60px)/24*5); */
	float: left;
	margin-right: 0px !important;
	height: calc((90vw - 60px)/24*20);
}

.story-desc {
	/* width: calc((90vw - 60px)/24*10); */
	padding: 0 25px;
}

.story-image:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
		top: 47px;
    left: 36px;
    opacity: 0.3;
    background-image: radial-gradient(#ff1313 20%, transparent 20%), radial-gradient(#ff1313 20%, transparent 20%);
    background-color: transparent;
    background-position: 0 15px, 15px 15px;
    background-size: 15px 15px;
}

.story-image .img-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	/* min-width: calc((90vw - 60px)/24*4); */
	/* max-width: calc((90vw - 60px)/24*8); */
	/* min-height: calc((90vw - 60px)/24*9); */
	height: 100%;
}

.img-container img {
	object-fit: cover;
	height: 100%;
}

@media (min-width: 991px) {
	.story.story-list .story-image {
		height: calc((100vw - 80px)/24*6);
		
	}

	/* .story {
		height: calc((100vw - 80px)/24*9);
	} */
}


.about-img>div {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 75%
}

.about-img>div+div {
	top: 130px;
	left: 0;
	right: auto;
	z-index: 0
}

.about-img:before {
	content: '';
	position: absolute;
	width: 20vw;
	height: 80vh;
	top: -160px;
	left: 50px;
	background-image: radial-gradient(#ffc013 20%, transparent 20%), radial-gradient(#ffc013 20%, transparent 20%);
	background-color: transparent;
	background-position: 0 15px, 15px 15px;
	background-size: 15px 15px;
	opacity: 0.2;
}

.about-img2>div {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 75%
}

.about-img2>div+div {
	top: 130px;
	right: 0;
	z-index: 0;
	float: right;
}

.about-img2:before {
	content: '';
	position: absolute;
	width: 33vw;
	height: 33vw;
	top: -35px;
	right: 0px;
	left: auto;
	background-image: radial-gradient(#dc3545 8%, transparent 20%), radial-gradient(#dc3545 20%, transparent 20%);
	background-color: transparent;
	background-position: 0 15px, 15px 15px;
	background-size: 15px 15px;
	opacity: 0.1;
	border-radius: 50%;
}


.about-img3:before {
	content: '';
	position: absolute;
	width: 25vw;
	height: 40vh;
	top: 54px;
	right: 82px;
	background-image: radial-gradient(#dc3545 8%, transparent 20%), radial-gradient(#dc3545 20%, transparent 20%);
	background-color: transparent;
	background-position: 0 15px, 15px 15px;
	background-size: 15px 15px;
	opacity: 0.1;
}

.letters-effect {
	opacity: 0.5 !important;
}

.exerpt-line-clamp p {
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	text-align: justify;
	
}


.alt-font {
	font-family: Montserrat !important;
}

.postcontent .entry img {
	height: auto;
}

.gallery-image {
	float: left;
}

.fancybox-content {
	background: #212529 !important;
}

#primary-menu ul > li {
	filter: drop-shadow(0px 1px 4px #1d2229);
}

#logo {
	filter: drop-shadow(0px 1px 2px #1d2229);
}

.text-black {
	color: #000 !important;
}