---
layout: single-page
event-pos: 40

---
<div class="section-product clearfix">

<p></p>
<div class="section-product-image">
	<img src="{{ page.image | relative_url }}" alt="">
</div>

<div class="section-product-content edge-underline rellax" style="bottom: {% if page.event-pos %} {{ page.event-pos }}{% else %} {{ layout.event-pos }}{% endif %}%; right: 7%;" data-rellax-speed="-2">
	<h3> Description</h3>
	<p>{{page.description}}</p>
	<div class="row justify-content-center clearfix">
		<div class="col-6 align-items-center">
			<div class="section-product-price">{{ page.date }}</div>
		</div>
		<div class="col-6 align-items-center">
			<a href=""
				class="button button-border button-circle button-fill fill-from-bottom button-dark button-black nott t400 nomargin"><span>
				Contact</span></a>
		</div>
	</div>
</div>
</div>

{{ content }}


<div class="col_full clearfix">

	<div class="heading-block topmargin bottommargin nobottomborder center">
		<h3>Gallery</h3>
	</div>

	<div class="masonry-thumbs grid-3" data-big="2" data-lightbox="gallery">
		{% for pic in page.gallery %}

		<a href="{{ pic.picture | relative_url }}" data-lightbox="gallery-item"><img class="image_fade" src="{{ pic.picture | relative_url }}" alt="Gallery Thumb {% increment index %}"></a>
		{% endfor %}
	</div>

</div>