---
layout: default
event-pos: 90
---

<!-- Page Loader, stretched (body) ============================================= -->
<!-- Document Wrapper ============================================= -->
<div id="wrapper" class="clearfix">

	<!-- LAYERS -->

	<!-- BACKGROUND VIDEO LAYER -->


	<!-- END REVOLUTION SLIDER -->

	<!-- Content
		============================================= -->



	<!-- About begins-->

	{% include about.html %}

	{% include CTAbanner.html %}

	{% include events.html %}


	<!-- About ends-->



	<!-- Events Items ====== -->



	<!-- *****INCLUDE Events HERE -->


	<!-- #Events end -->




	<!-- Services Begins -->
	<!-- import computational-thinking eplanation.html -->
    {%include benefits.html %}
	<!-- Services Ends  -->
